In [1]:
sc

In [2]:
import sys
sys.executable

'C:\\ProgramData\\Anaconda3\\python.exe'

In [3]:
from platform import python_version
print(python_version())

3.6.7

In [4]:
from pyspark.sql.types import StringType, StructField, StructType, TimestampType, ArrayType, IntegerType, LongType

event_schema = StructType([
    StructField("timestamp", StringType()),
    StructField("visitorid", IntegerType()),
    StructField("event", StringType()),
    StructField("itemid", IntegerType()),
    StructField("transactionid", IntegerType())
])

In [5]:
import os
os.chdir("c:/users/Abhishek/desktop")

In [6]:
fp = "events.csv"
df = spark.read.csv(fp, header = True, schema = event_schema)

In [7]:
df.show()

+-------------+---------+---------+------+-------------+
|    timestamp|visitorid|    event|itemid|transactionid|
+-------------+---------+---------+------+-------------+
|1433221332117|   257597|     view|355908|         null|
|1433224214164|   992329|     view|248676|         null|
|1433221999827|   111016|     view|318965|         null|
|1433221955914|   483717|     view|253185|         null|
|1433221337106|   951259|     view|367447|         null|
|1433224086234|   972639|     view| 22556|         null|
|1433221923240|   810725|     view|443030|         null|
|1433223291897|   794181|     view|439202|         null|
|1433220899221|   824915|     view|428805|         null|
|1433221204592|   339335|     view| 82389|         null|
|1433222162373|   176446|     view| 10572|         null|
|1433221701252|   929206|     view|410676|         null|
|1433224229496|    15795|     view| 44872|         null|
|1433223697356|   598426|     view|156489|         null|
|1433224078165|   223343|     view|402625|         null|
|1433222531378|    57036|     view|334662|         null|
|1433223239808|  1377281|     view|251467|         null|
|1433223236124|   287857|addtocart|  5206|         null|
|1433224244282|  1370216|     view|176721|         null|
|1433221078505|   158090|addtocart| 10572|         null|
+-------------+---------+---------+------+-------------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- timestamp: string (nullable = true)
 |-- visitorid: integer (nullable = true)
 |-- event: string (nullable = true)
 |-- itemid: integer (nullable = true)
 |-- transactionid: integer (nullable = true)

In [9]:
from pyspark.sql import functions as f
from pyspark.sql import types as t

In [10]:
format = "yyyy-MM-dd HH:mm:ss"
df = df.withColumn('timestamp2', f.from_unixtime(df.timestamp/1000).cast(TimestampType()))

In [11]:
df.show()

+-------------+---------+---------+------+-------------+-------------------+
|    timestamp|visitorid|    event|itemid|transactionid|         timestamp2|
+-------------+---------+---------+------+-------------+-------------------+
|1433221332117|   257597|     view|355908|         null|2015-06-02 10:32:12|
|1433224214164|   992329|     view|248676|         null|2015-06-02 11:20:14|
|1433221999827|   111016|     view|318965|         null|2015-06-02 10:43:19|
|1433221955914|   483717|     view|253185|         null|2015-06-02 10:42:35|
|1433221337106|   951259|     view|367447|         null|2015-06-02 10:32:17|
|1433224086234|   972639|     view| 22556|         null|2015-06-02 11:18:06|
|1433221923240|   810725|     view|443030|         null|2015-06-02 10:42:03|
|1433223291897|   794181|     view|439202|         null|2015-06-02 11:04:51|
|1433220899221|   824915|     view|428805|         null|2015-06-02 10:24:59|
|1433221204592|   339335|     view| 82389|         null|2015-06-02 10:30:04|
|1433222162373|   176446|     view| 10572|         null|2015-06-02 10:46:02|
|1433221701252|   929206|     view|410676|         null|2015-06-02 10:38:21|
|1433224229496|    15795|     view| 44872|         null|2015-06-02 11:20:29|
|1433223697356|   598426|     view|156489|         null|2015-06-02 11:11:37|
|1433224078165|   223343|     view|402625|         null|2015-06-02 11:17:58|
|1433222531378|    57036|     view|334662|         null|2015-06-02 10:52:11|
|1433223239808|  1377281|     view|251467|         null|2015-06-02 11:03:59|
|1433223236124|   287857|addtocart|  5206|         null|2015-06-02 11:03:56|
|1433224244282|  1370216|     view|176721|         null|2015-06-02 11:20:44|
|1433221078505|   158090|addtocart| 10572|         null|2015-06-02 10:27:58|
+-------------+---------+---------+------+-------------+-------------------+
only showing top 20 rows

In [12]:
type(df)

pyspark.sql.dataframe.DataFrame

In [13]:
df = df.drop('timestamp')

In [14]:
df = df.withColumnRenamed('timestamp2', 'timestamp')
df.show()

+---------+---------+------+-------------+-------------------+
|visitorid|    event|itemid|transactionid|          timestamp|
+---------+---------+------+-------------+-------------------+
|   257597|     view|355908|         null|2015-06-02 10:32:12|
|   992329|     view|248676|         null|2015-06-02 11:20:14|
|   111016|     view|318965|         null|2015-06-02 10:43:19|
|   483717|     view|253185|         null|2015-06-02 10:42:35|
|   951259|     view|367447|         null|2015-06-02 10:32:17|
|   972639|     view| 22556|         null|2015-06-02 11:18:06|
|   810725|     view|443030|         null|2015-06-02 10:42:03|
|   794181|     view|439202|         null|2015-06-02 11:04:51|
|   824915|     view|428805|         null|2015-06-02 10:24:59|
|   339335|     view| 82389|         null|2015-06-02 10:30:04|
|   176446|     view| 10572|         null|2015-06-02 10:46:02|
|   929206|     view|410676|         null|2015-06-02 10:38:21|
|    15795|     view| 44872|         null|2015-06-02 11:20:29|
|   598426|     view|156489|         null|2015-06-02 11:11:37|
|   223343|     view|402625|         null|2015-06-02 11:17:58|
|    57036|     view|334662|         null|2015-06-02 10:52:11|
|  1377281|     view|251467|         null|2015-06-02 11:03:59|
|   287857|addtocart|  5206|         null|2015-06-02 11:03:56|
|  1370216|     view|176721|         null|2015-06-02 11:20:44|
|   158090|addtocart| 10572|         null|2015-06-02 10:27:58|
+---------+---------+------+-------------+-------------------+
only showing top 20 rows

In [15]:
df.show()

+---------+---------+------+-------------+-------------------+
|visitorid|    event|itemid|transactionid|          timestamp|
+---------+---------+------+-------------+-------------------+
|   257597|     view|355908|         null|2015-06-02 10:32:12|
|   992329|     view|248676|         null|2015-06-02 11:20:14|
|   111016|     view|318965|         null|2015-06-02 10:43:19|
|   483717|     view|253185|         null|2015-06-02 10:42:35|
|   951259|     view|367447|         null|2015-06-02 10:32:17|
|   972639|     view| 22556|         null|2015-06-02 11:18:06|
|   810725|     view|443030|         null|2015-06-02 10:42:03|
|   794181|     view|439202|         null|2015-06-02 11:04:51|
|   824915|     view|428805|         null|2015-06-02 10:24:59|
|   339335|     view| 82389|         null|2015-06-02 10:30:04|
|   176446|     view| 10572|         null|2015-06-02 10:46:02|
|   929206|     view|410676|         null|2015-06-02 10:38:21|
|    15795|     view| 44872|         null|2015-06-02 11:20:29|
|   598426|     view|156489|         null|2015-06-02 11:11:37|
|   223343|     view|402625|         null|2015-06-02 11:17:58|
|    57036|     view|334662|         null|2015-06-02 10:52:11|
|  1377281|     view|251467|         null|2015-06-02 11:03:59|
|   287857|addtocart|  5206|         null|2015-06-02 11:03:56|
|  1370216|     view|176721|         null|2015-06-02 11:20:44|
|   158090|addtocart| 10572|         null|2015-06-02 10:27:58|
+---------+---------+------+-------------+-------------------+
only showing top 20 rows

In [16]:
df.printSchema()

root
 |-- visitorid: integer (nullable = true)
 |-- event: string (nullable = true)
 |-- itemid: integer (nullable = true)
 |-- transactionid: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [17]:
dfs = df.sample(fraction= 0.005)

In [18]:
dfs.show()

+---------+-----+------+-------------+-------------------+
|visitorid|event|itemid|transactionid|          timestamp|
+---------+-----+------+-------------+-------------------+
|   929206| view|410676|         null|2015-06-02 10:38:21|
|   971845| view|251813|         null|2015-06-02 02:15:44|
|    95902| view|298598|         null|2015-06-02 02:56:50|
|   294006| view|441185|         null|2015-06-01 21:24:01|
|  1351643| view|156993|         null|2015-06-01 21:42:38|
|  1354366| view|175317|         null|2015-06-01 18:26:59|
|  1282928| view|435160|         null|2015-06-01 20:38:26|
|   832350| view| 21730|         null|2015-06-02 04:34:57|
|    69727| view|106734|         null|2015-06-02 04:59:49|
|   823032| view|406205|         null|2015-06-02 07:38:00|
|   315221| view| 34551|         null|2015-06-01 17:59:11|
|  1265769| view|283125|         null|2015-06-01 18:14:10|
|    18588| view| 56722|         null|2015-06-02 03:19:30|
|    81872| view|123565|         null|2015-06-02 03:16:20|
|  1166817| view|277844|         null|2015-06-02 09:10:48|
|   830811| view| 15564|         null|2015-06-02 08:52:06|
|  1102099| view|261724|         null|2015-06-02 05:40:01|
|   578124| view|177478|         null|2015-06-02 05:51:15|
|   865341| view|229193|         null|2015-06-02 05:42:10|
|  1387401| view|142268|         null|2015-06-02 00:42:30|
+---------+-----+------+-------------+-------------------+
only showing top 20 rows

In [19]:
from pyspark.sql.functions import count
dfsgb = dfs.groupBy(["visitorid", "itemid"]).agg(count("timestamp").alias("interactions"))

In [20]:
dfsgb.show()

+---------+------+------------+
|visitorid|itemid|interactions|
+---------+------+------------+
|   820327|299038|           1|
|    73838|323042|           1|
|  1205506|406376|           1|
|   795736|118198|           1|
|   150764| 39675|           1|
|   388205|384528|           1|
|  1025758|378290|           1|
|  1075552| 87413|           1|
|   560231|373360|           1|
|   304019|346917|           1|
|   481118|312873|           1|
|   986961|437804|           1|
|   922323|174894|           1|
|   310019|454669|           1|
|   953029|  8233|           1|
|   331229| 54521|           1|
|   567720|232509|           1|
|   136469|170811|           1|
|   744671|134118|           1|
|  1139002|313835|           1|
+---------+------+------------+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import max, min
dfsgb.agg(max("interactions")).show()

+-----------------+
|max(interactions)|
+-----------------+
|                3|
+-----------------+

In [22]:
dfsui = dfs.groupby("visitorid").agg(count("timestamp").alias("total_user_interaction_count"))

In [23]:
dfsui.agg(max("total_user_interaction_count")).show()

+---------------------------------+
|max(total_user_interaction_count)|
+---------------------------------+
|                               41|
+---------------------------------+

In [24]:
from pyspark.sql.functions import col, countDistinct
dfs.agg(countDistinct("visitorid")).show()

+-------------------------+
|count(DISTINCT visitorid)|
+-------------------------+
|                    13078|
+-------------------------+

In [25]:
dfs.agg(countDistinct("itemid")).show()

+----------------------+
|count(DISTINCT itemid)|
+----------------------+
|                 11211|
+----------------------+

In [26]:
type(dfsgb)

pyspark.sql.dataframe.DataFrame

In [27]:
from pyspark.sql.functions import *

df1 = dfsgb.alias('df1')
df2 = dfsui.alias('df2')

In [28]:
dfr = df1.join(df2, df1.visitorid == df2.visitorid).select('df1.*', 'df2.total_user_interaction_count')

In [29]:
dfr = dfr.withColumn('rui', dfr.interactions/dfr.total_user_interaction_count)

In [30]:
dfr.agg(min("rui")).show()

+--------------------+
|            min(rui)|
+--------------------+
|0.024390243902439025|
+--------------------+

In [31]:
from pyspark.sql.functions import mean
dfr.agg(mean("rui")).show()

+------------------+
|          avg(rui)|
+------------------+
|0.9531375264193572|
+------------------+

In [32]:
dfr.approxQuantile("rui", [0.1, 0.2, 0.3, 0.4, 0.5], 0.25)

[0.024390243902439025, 0.024390243902439025, 1.0, 1.0, 1.0]

In [33]:
dfs.groupBy("event").count().show()

+-----------+-----+
|      event|count|
+-----------+-----+
|transaction|  117|
|  addtocart|  336|
|       view|13315|
+-----------+-----+

In [34]:
def assign_ratings(e):
    
    rating = 0
    if e == "view":
        rating = 2
    else:
        rating = 5
    
    return rating

In [35]:
from pyspark.sql import Row
dfs.select("event").rdd.map(lambda x : assign_ratings(x[0])).map(lambda x: Row(x)).toDF(["ratings"]).show()

+-------+
|ratings|
+-------+
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
|      2|
+-------+
only showing top 20 rows

In [36]:
from pyspark.sql.functions import col, when
dfs = dfs.withColumn("ratings", when(col("event")=='view', 2).otherwise(5))

In [37]:
dfs.rdd.countApproxDistinct()

13588